  *{
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

body{
background-color: #F7F7F7;
}


@media screen and (max-width: 360px) {
#Dimittens {
	width: 220px;
	height: 48px;
	box-sizing: border-box;
	margin-right: 67px;
	margin-left: 73px;
	margin-top: 12px;
}

#barra {
  width: 220px;
  height: 2px;
  opacity: 0.7;
  background-color: rgba(236, 141, 38, 0.99);
  box-sizing: border-box;
  margin-top: -10px;
  margin-left: 73px;
  margin-right: 67px;

}

div {
  width: 307px;
  height: 146px;
  border: 1px solid rgba(127, 127, 127, 0);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: rgba(66, 32, 64, 0.99);
  text-align: center;
  line-height: normal;
  margin-top: 121px;
  margin-left: 27px;
  margin-right: 26px;
  font-size: 14px;
  margin-top: -25px;
}

#caixa {
  width: 80px;
  height: 25px;
  background-color: #ffffff;
  margin-left: 146px;
  margin-right: 134px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;

}

#login {
margin-left: 170px;
top:-36px ;
position: relative;
width: 33px;
height: 19px;
background-color: rgba(255, 255, 255, 0);
box-sizing: border-box;
font-family: "Raleway Medium", "Raleway", sans-serif;
font-weight: 500;
color: rgba(236, 141, 38, 0.99);
text-align: left;
line-height: normal;
font-size: 14px;
}

#img1 {
  width: 272px;
  height: 180px;
  box-sizing: border-box;
  margin-left: 44px;
  margin-top: -30px;
}

#barraacs {
	margin-top: -4px;
	position: relative;
	opacity: 1.0;
	background-color: #ec8d26;
	border-radius: 0 0 15px 15px;

}

#acesse {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffffff;
  text-align: center;
  line-height: normal;
  margin-left: 140px;
  top: -34px;
  position:relative;
  display: inline-block;
}

.retangulo {
  width: 360px;
  height: 439px;
  padding: 2px 2px 2px 2px;
  border-radius: 15px;
  background-color: #422040;
  box-sizing: border-box;
  margin-top: -60px;
  margin-left: 0px;
  opacity: 1.0;
  display: inline-block;
}

#terapias {
  width: 360px;
  height: 33px;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #dfa5d9;
  text-align: center;
  line-height: normal;
  position: relative;
  z-index: 1;
  top: -405px;
  margin-left: 105px;
  font-size: 30px;
}

.terapia {
  width: 307px;
  height: 290px;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  margin-top: -400px;
  position: relative;
}

#img2 {
  width: 360px;
  height: 273px;
  border-radius: 11px;
  box-sizing: border-box;
  margin-top: -239px;
}

.barraacs2 {
  width: 361px;
  height: 40px;
  padding: 2px 2px 2px 2px;
  border: 1px solid #dfa5d9;
  background-color: #dfa5d9;
  box-sizing: border-box;
  margin-top: -5px;
  position: relative;
  opacity: 1.0;
  background-color: #dfa5d9;
  border-radius: 0 0 15px 15px;
  margin-left: 0px;
}

#acesse2 {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffffff;
  text-align: center;
  line-height: normal;
  top: -34px;
  position: relative;
  font-size: 20px;
  margin-left: 140px;
}

#comunidade {
  width: 360px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Roboto Black", "Roboto", sans-serif;
  font-weight: 900;
  color: rgba(236, 141, 38, 0.7);
  text-align: center;
  line-height: normal;
  font-size: 30px;
  margin-left: 56px;
  top: -20px;
  position: relative;
}

.comunidades {
  width: 307px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #422040;
  text-align: center;
  line-height: normal;
  margin-top: -15px;
}

#img3 {
  width: 360px;
  height: 253px;
  box-sizing: border-box;
  margin-top: -20px;
}

#barraacs3 {
	position: relative;
	opacity: 1.0;
	background-color: #ec8d26;
	border-radius: 0 0 15px 15px;
	margin-top: -3px;
}

#acesse3 {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffffff;
  text-align: center;
  line-height: normal;
  position: relative;
  font-size: 20px;
  margin-left: 140px;
  top: -35px;
}

#cxrodape {
  width: 360px;
  height: 595px;
  padding: 2px 2px 2px 2px;
  border: 1px solid rgba(66, 32, 64, 1);
  background-color: rgba(66, 32, 64, 1);
  box-sizing: border-box;
  margin-top: -60px;
}

#logordp {
  width: 181px;
  height: 39px;
  box-sizing: border-box;
  top: -540px;
  position: relative;
  margin-left: 90px;
}

#barra2 {
  width: 181px;
  height: 2px;
  padding: 2px 2px 2px 2px;
  background-color: #ec8d26;
  box-sizing: border-box;
  margin-left: 90px;
  top: -535px;
  position: relative;
  background-color: #ec8d26;
  box-sizing: border-box;
  margin-left: 90px;
}

#Inicio {
  width: 90px;
  height: 27px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  margin-left: 160px;
  top: -520px;
  position: relative;
}

#Home {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 160px;
  top: -510px;
}

#Produtos {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 150px;
  top: -505px;
}

#Download {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 148px;
  top: -500px;
}

#barra3 {
  width: 181px;
  height: 2px;
  padding: 2px 2px 2px 2px;
  background-color: #ec8d26;
  box-sizing: border-box;
  margin-left: 90px;
  top: -485px;
  position: relative;
  background-color: #ec8d26;
  box-sizing: border-box;
  margin-left: 90px;
}

#Informacoes {
  width: 120px;
  height: 27px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  margin-left: 135px;
  top: -470px;
  position: relative;
}

#Blog {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 165px;
  top: -460px;
}

#Contato {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 154px;
  top: -455px;
}

#Email {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 162px;
  top: -450px;
}

#barra4 {
  width: 181px;
  height: 2px;
  padding: 2px 2px 2px 2px;
  background-color: #ec8d26;
  box-sizing: border-box;
  margin-left: 90px;
  top: -435px;
  position: relative;
  background-color: #ec8d26;
  box-sizing: border-box;
}

#Suporte {
  width: 120px;
  height: 27px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Bold", "Raleway", sans-serif;
  font-weight: 700;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  margin-left: 150px;
  top: -420px;
  position: relative;
}

#Faq {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 165px;
  top: -410px;
}

#Tel {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 150px;
  top: -405px;
}

#Chat {
  width: 90px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: normal;
  position: relative;
  margin-left: 165px;
  top: -400px;
}

#barra5 {
  width: 181px;
  height: 2px;
  padding: 2px 2px 2px 2px;
  background-color: #ec8d26;
  box-sizing: border-box;
  margin-left: 90px;
  top: -385px;
  position: relative;
  background-color: #ec8d26;
  box-sizing: border-box;
}

#twitter {
  width: 24px;
  height: 22px;
  padding: 2px 2px 2px 2px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  top: -370px;
  margin-left: 150px;
  position: relative;
}

#wpp {
  width: 24px;
  height: 22px;
  padding: 2px 2px 2px 2px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  top: -370px;
  margin-left: -3px;
  position: relative;
}

#insta {
  width: 24px;
  height: 22px;
  padding: 2px 2px 2px 2px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  top: -370px;
  margin-left: -3px;
  position: relative;
}