*{
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  body{
    background-color: #F7F7F7;
  }  

@media screen and (max-width: 360px)  {

    img#logotipo {
        top: 100px;
        left: 50px;
        position: absolute;
    }

    .boxpac {
        position: absolute;
        top: 350px;
        left: 45px;
        width: 295px;
        height: 80px;
        padding: 2px 2px 2px 2px;
        border-radius: 10px;
        border: 1px solid rgba(121, 121, 121, 0);
        background-color: rgba(236, 141, 38, 0.89);
        box-sizing: border-box;
        box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.35);
        z-index: 1;
      }

      img#paciente {
        position: absolute;
        top: 350px;
        left: 55px;
        width: 81px;
        height: 76px;
        z-index: 2;
      }

      #h2pac {
        top: 380px;
        left: 160px;
        font-size: 20px;
        position: absolute;
        box-sizing: border-box;
        font-family: "Raleway Medium", "Raleway", sans-serif;
        font-weight: 500;
        color: #ffffff;
        line-height: normal;
        z-index: 3;
      }

      .boxpsi {
        top: 450px;
        left: 45px;
        position: absolute;
            width: 295px;
            height: 80px;
            padding: 2px 2px 2px 2px;
            border-radius: 10px;
            border: 1px solid rgba(121, 121, 121, 0);
            background-color: rgba(66, 32, 64, 0.89);
            box-sizing: border-box;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
            z-index: initial;
      }



      #psicologos {
        left: 200px;
        top: 450px;
        position: absolute;
        width: 127px;
        height: 85px;
        box-sizing: border-box;
        z-index: 3;
      }

      #h2psi {
        position: absolute;
        font-size: 20px;
        width: 147px;
        box-sizing: border-box;
        font-family: "Raleway Medium", "Raleway", sans-serif;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
        line-height: normal;
        text-align: center;
        top: 460px;
        left: 70px;
        text-align: left;
      }

    }