
*{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body{
  background-color: #F7F7F7;
}

@media screen and (max-height:740px) {
  .boxlogin {
    padding-bottom: 740px;
  }
  
}


@media screen and (max-width: 360px)  {
#boxlogin {
  z-index: 1;
  width: 300px;
  height: 528px;
  padding: 2px 2px 2px 2px;
  border-radius: 20px;
  border: 1px solid rgba(121, 121, 121, 0);
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.27);
   align-items: center;
   margin: auto;
   margin-top: 0px;
   margin: auto;
   z-index: 3;
   position: relative;
   bottom:370px;
}

#h1login{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  position: relative;
  top:25px;
  color: #422040;
}
#gota1 {
  transform: translateX(4px);
  transform: translateY(75px);
  position: relative;
  bottom: 1000px;
  left: 5px;
  z-index: 2;
}

#gota2 {
  transform: rotate(268deg); 
  position: relative;
  bottom:1050px;
  left:68px;
}
#boxpurple {
  width: 539px;
  height: 472px;
  transform: rotate(344deg);
  padding: 2px 2px 2px 2px;
  border: 1px solid rgba(66, 32, 64, 0);
  box-sizing: border-box;
  position:relative;
  right:80px;
  bottom:150px;
  z-index: 0;
}

#boxemail {
  width: 258px;
  height: 37px;
  position: relative;
  top: 100px;
  left: 15px;
  border:  rgba(66, 32, 64, 0.42) 1px solid;
  border-radius: 5px;
}

label {
  left: -5px;
  top: 30px;
  position: relative;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#email {
  border: 0px;
  top: 69px;
  right: 4px;
  position: relative;
  width: 207px;
  height: 23px;
}

#iconemail {
    width: 16px;
    height: 13px;
    opacity: 0.37;
    position: relative;
    left: 30px;
    top: 71px;
}

::placeholder:disabled {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}


::placeholder {
  box-sizing: border-box;
  color: #999999;
}

#boxsenha {
    width: 258px;
    height: 37px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid rgba(66, 32, 64, 0.42);
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    top: 120px;
    left: 15px;
}

#lbsenha {
  top: 50px;
  position: relative;
}

#senha {
  top: 89px;
  position: relative;
  right: 10px;
  width: 207px;
  height: 23px;
  border: 0px;
}

#iconsenha {
  top: 92px;
  position: relative;
  height: 13px;
  opacity: 0.66;
  width: 16px;
  left: 30px;

}

  #h2sec {
      font-size: 12px;
      background-color: rgba(255, 255, 255, 0);
      box-sizing: border-box;
      font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
      font-weight: 700;
      color: #422040;
      text-align: left;
      line-height: normal;
      position: relative;
      top: 115px;
      left: 145px;
  }

  input[type="submit"] {
      width: 247px;
      height: 43px;
      padding: 2px 2px 2px 2px;
      border-radius: 24px;
      border: 0px;
      background-color: #422040;
      box-sizing: border-box;
      font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
      font-weight: 700;
      color: white;
      text-align: center;
      line-height: normal;
      top: 140px;
      left: 25px;
      position: relative;
      font-size: 16px;
    }

    #h2ter {
        position: relative;
        text-align: center;
        font-size: 14px;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-weight: 700;
        color: rgba(83, 82, 82, 0.47);
        top: 160px;
      }

    button.googlebutton {
        width: 247px;
        height: 45px;
        padding: 2px 2px 2px 2px;
        border-radius: 24px;
        border: 1px solid #535252;
        background-color: rgba(66, 32, 64, 0);
        box-sizing: border-box;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-weight: 700;
        color: #333333;
        text-align: center;
        line-height: normal;
        position: relative;
        top: 170px;
        left: 23px;
        }

    #facebookbutton {
        width: 247px;
        height: 50px;
        padding: 2px 2px 2px 2px;
        border-radius: 24px;
        border: 1px solid rgba(83, 82, 82, 0);
        background-color: #3b5998;
        box-sizing: border-box;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        line-height: normal;
        position: relative;
        top: 185px;
        left: 22px;
      }

      h3 {
        position: relative;
        bottom: 490px;
        left: 75px;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
        color: #333333;
        }

        strong {
          color: #422040;
          font-weight: 700;
        }

        #google {
          position: absolute;
          top: 411px;
          left: 230px;
          width: 18px;
          height: 18px;
          }

          #facebook {   
            position: absolute;          
              box-sizing: border-box;
              top: 470px;
              left: 234px;
            }
          }


 








